Repository teksi/wastewater, pull requests merged in 2023-12, with the labels that each got.

#25 remove dss2020_hydraulic_load_current from 06_swmm.sql
  datamodel/changelogs/0001/06_swmm.sql
Labels: bug, datamodel

#48 CI : Add failure logs for every failed datamodel docker CI job
  .github/workflows/datamodel-test.yml
Labels: CI

#49 fix re_building_group_disposal missing fk_columns
  datamodel/.docker/init_db.sh
  datamodel/changelogs/0001/03_tww_db_dss.sql
  datamodel/changelogs/0001/09_tww_dictionaries.sql
Labels: datamodel, fix
