Repository teksi/wastewater, pull requests merged in 2024-08, with the labels that each got.

#363 Remove obsolete v1 docker-compose syntax
  .github/workflows/plugin-test.yml
Labels: fix, sustainability

#358 add Linking Relation Editor and Document Management System to plugin …
  plugin/teksi_wastewater/metadata.txt
Labels: plugin, sustainability

#367 2024-08-07-add-missing-identifier_short
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
  plugin/teksi_wastewater/tests/data/test-dataset-organisations.xtf
Labels: fix, INTERLIS

#342 introduce serial pk on default values
  datamodel/app/view/set_default_value_for_views.sql
  datamodel/changelogs/0001/14_default_values.sql
  plugin/teksi_wastewater/utils/database_utils.py
Labels: fix

#356 2024 08 05 fix export flushing nozzle
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
Labels: fix, INTERLIS

#355 Import/export wastewater structure symbols
  datamodel/changelogs/0001/03_tww_db_dss.sql
  datamodel/changelogs/0001/09_tww_dictionaries.sql
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/model_interlis_sia405_abwasser.py
Labels: fix, INTERLIS

#371 Urskaufmann doc moving
  docs/en/user-guide/editing/images/advanced_digitizing_tools.jpg
  docs/en/user-guide/editing/images/moving_wws_before.jpg
  docs/en/user-guide/editing/images/moving_wws_manhole1.jpg
  docs/en/user-guide/editing/images/moving_wws_manhole1topology.jpg
  docs/en/user-guide/editing/images/moving_wws_manhole1topologynew.jpg
  docs/en/user-guide/editing/images/tools_moving.jpg
  docs/en/user-guide/editing/moving.rst
Labels: documentation

#369 2024-08-07-unique-constraint-fk_1-fk_2-to-re_-tables
  datamodel/changelogs/0001/03_tww_db_dss.sql
Labels: enhancement, fix

#347 2024 08 02 minimal requirements
  docs/en/installation-guide/database-initialization.rst
  docs/en/installation-guide/server.rst
  docs/en/vm/about.rst
Labels: documentation

#378 Create 03_tww_control_cable_db_sia405.sql
  datamodel/changelogs/0001/03_tww_control_cable_db_sia405.sql
  datamodel/changelogs/0001/09_tww_control_cable_dictionaries.sql
  datamodel/scripts/setup.sh
Labels: datamodel

#382 Fix rename of file.class to file.classname for KEK export
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
Labels: fix, INTERLIS

#380 Urskaufmann howto
  docs/en/user-guide/How-To/images/connect_2_node.jpg
  docs/en/user-guide/How-To/images/geometry_generator.jpg
  docs/en/user-guide/How-To/images/hydr_geometry1.jpg
  docs/en/user-guide/How-To/images/hydr_geometry2.jpg
  docs/en/user-guide/How-To/images/hydr_geometry3.jpg
  docs/en/user-guide/How-To/images/overflow1.jpg
  docs/en/user-guide/How-To/images/overflow2.jpg
  docs/en/user-guide/How-To/images/overflow4.jpg
  docs/en/user-guide/How-To/images/overflow_char1.jpg
  docs/en/user-guide/How-To/images/tww_label_attributes.jpg
  docs/en/user-guide/How-To/images/tww_label_prefix_settings.jpg
  docs/en/user-guide/How-To/images/tww_labels.jpg
  docs/en/user-guide/How-To/images/tww_system_attributes_depth.jpg
  docs/en/user-guide/How-To/index.rst
Labels: documentation

#386 2024 08 22 harmonization translation schieber new gate valve
  datamodel/changelogs/0001/03_tww_db_dss.sql
  datamodel/changelogs/0001/09_tww_dictionaries.sql
Labels: datamodel

#387 2024 08 22 rename mutation.system user to avoid postgres confllicts
  datamodel/changelogs/0001/03_tww_db_dss.sql
  datamodel/changelogs/0001/09_tww_dictionaries.sql
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
Labels: datamodel

#389 Alter UNIQUE index on organisation
  datamodel/changelogs/0001/03_tww_db_dss.sql
Labels: datamodel

#385 Update README.md
  README.md
Labels: documentation

#349 move reach points when vw_tww_wastewater_structure is moved
  datamodel/app/view/vw_tww_wastewater_structure.py
Labels: fix

#357 2024 08 05 import export re maintenance event
  .github/workflows/plugin-test.yml
  datamodel/changelogs/0001/03_tww_db_dss.sql
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/model_interlis_dss.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/model_tww_od.py
  plugin/teksi_wastewater/tests/test_interlis.py
Labels: fix, INTERLIS

#366 2024-08-07-adapt-tww_app.vw_change_points
  datamodel/app/view/vw_change_points.sql
Labels: enhancement, datamodel, fix

#391 2024-08-28-patch-documentation
  docs/README.md
  docs/en/admin-guide/interlis-io/images/tww_interlis_export_button.png
  docs/en/admin-guide/interlis-io/images/tww_interlis_import_button.png
  docs/en/admin-guide/interlis-io/index.rst
Labels: documentation, fix
