Repository teksi/wastewater, pull requests merged in 2024-09, with the labels that each got.

#381 harmonize trigger enabling/disabling
  datamodel/app/create_app.py
  datamodel/app/functions/14_geometry_functions.sql
  datamodel/app/functions/modification_functions.sql
  datamodel/app/functions/oid_functions.sql
  datamodel/app/functions/organisation_functions.sql
  datamodel/app/functions/reach_direction_change.sql
  datamodel/app/functions/symbology_functions.sql
  datamodel/app/functions/update_catchment_area_totals.sql
  datamodel/app/organisation_functions.sql
  datamodel/app/triggers/__init__.py
  datamodel/app/triggers/set_defaults_and_triggers.py
  datamodel/app/view/unused_views/heritage_dss2015/vw_blocking_debris.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_chute.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_cooperative.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_dam.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_drainage_system.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_ford.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_ground_water_protection_perimeter.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_groundwater_protection_zone.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_infiltration_zone.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_lake.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_lock.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_organisation.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_passage.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_planning_zone.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_river.sql
  datamodel/app/view/unused_views/heritage_dss2015/vw_rock_ramp.sql
  datamodel/app/view/unused_views/singleinheritance/vw_building.sql
  datamodel/app/view/unused_views/singleinheritance/vw_drainage_system.sql
  datamodel/app/view/unused_views/singleinheritance/vw_electric_equipment.sql
  datamodel/app/view/unused_views/singleinheritance/vw_electromechanical_equipment.sql
  datamodel/app/view/unused_views/singleinheritance/vw_fountain.sql
  datamodel/app/view/unused_views/singleinheritance/vw_infiltration_installation.sql
  datamodel/app/view/unused_views/singleinheritance/vw_param_ca_general.sql
  datamodel/app/view/unused_views/singleinheritance/vw_param_ca_mouse1.sql
  datamodel/app/view/unused_views/singleinheritance/vw_reservoir.sql
  datamodel/app/view/unused_views/singleinheritance/vw_solids_retention.sql
  datamodel/app/view/unused_views/singleinheritance/vw_tank_cleaning.sql
  datamodel/app/view/unused_views/singleinheritance/vw_tank_emptying.sql
  datamodel/app/view/unused_views/working/vw_tww_catchment_area.sql
  datamodel/app/view/vw_file.sql
  datamodel/app/view/vw_tww_additional_ws.py
  datamodel/app/view/vw_tww_reach.py
  datamodel/app/view/vw_tww_wastewater_structure.py
  datamodel/app/view/vw_wastewater_structure.py
  datamodel/changelogs/0001/02_sys.sql
  datamodel/changelogs/0001/03_tww_control_cable_db_sia405.sql
  datamodel/changelogs/0001/03_tww_db_dss.sql
  datamodel/changelogs/0001/04_vsa_kek_extension.sql
  datamodel/changelogs/0001/14_default_values.sql
  datamodel/changelogs/0001/51_dss15_aquifer.sql
  datamodel/changelogs/0001/52_dss15_planning_zone.sql
  datamodel/changelogs/0001/oid_generation.sql
  datamodel/test/test_symbology.py
  docs/en/user-guide/How-To/index.rst
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
  plugin/teksi_wastewater/utils/database_utils.py
Labels: enhancement, datamodel, fix

#340 raise error on subclass check
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
Labels: fix, INTERLIS

#331 2024-07-20-adapt-documentation_installation
  docs/.tx/config
  docs/en/admin-guide/pgadmin/images/sql-query4.jpg
  docs/en/index.rst
  docs/en/installation-guide/database-initialization.rst
  docs/en/installation-guide/images/demodata-restore.jpg
  docs/en/installation-guide/images/demodata-restore2.jpg
  docs/en/installation-guide/server.rst
  docs/en/installation-guide/workstation.rst
  docs/en/vm/about.rst
  docs/en/vm/images/001_qwc.png
  docs/en/vm/images/vm_demo.jpg
  docs/en/vm/index.rst
  docs/en/vm/install.rst
  docs/en/vm/server.rst
Labels: documentation, TEKSI wastewater

#404 Load extension guide strings to transifex
  docs/.tx/config
Labels: translation

#405 Add a important message to enhance the documentation translation
  docs/conf.py
Labels: documentation, translation

#419 Add caveat in docs concerning #20
  docs/en/installation-guide/requirements.rst
Labels: documentation

#415 optimize main ws views
  datamodel/app/view/vw_tww_additional_ws.py
  datamodel/app/view/vw_tww_wastewater_structure.py
Labels: bug, datamodel, app_schema

#416 Add specialised view for infiltration installation
  datamodel/app/create_app.py
  datamodel/app/functions/meta_functions.sql
  datamodel/app/view/vw_tww_infiltration_installation.py
  datamodel/test/test_geometry.py
Labels: app_schema

#412 vw_tww_measurement_series
  datamodel/app/create_app.py
  datamodel/app/view/vw_tww_measurement_series.py
Labels: app_schema

#414 Interlis update
  plugin/teksi_wastewater/interlis/gui/editors/base.py
  plugin/teksi_wastewater/interlis/gui/editors/damage_channel.py
  plugin/teksi_wastewater/interlis/gui/interlis_import_selection_dialog.py
  plugin/teksi_wastewater/interlis/gui/interlis_import_selection_dialog.ui
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
  plugin/teksi_wastewater/tests/data/minimal-dataset-SIA405-ABWASSER-modified.xtf
  plugin/teksi_wastewater/tests/test_interlis.py
Labels: plugin, INTERLIS
