Repository teksi/wastewater, pull requests merged in 2024-10, with the labels that each got.

#433 rename calculate_reach_length function
  datamodel/app/functions/symbology_functions.sql
Labels: app_schema

#436 Add scheduled action to if statements
  .github/workflows/docs-builder.yml
Labels: documentation, CI/CD, fix, translation

#442 Harmonize dialog titles
  plugin/teksi_wastewater/interlis/gui/editors/base.ui
  plugin/teksi_wastewater/interlis/gui/interlis_export_settings_dialog.ui
  plugin/teksi_wastewater/interlis/gui/interlis_import_selection_dialog.ui
  plugin/teksi_wastewater/ui/about_dialog.ui
  plugin/teksi_wastewater/ui/twwsettingsdialog.ui
  plugin/teksi_wastewater/ui/twwwizard.ui
Labels: plugin

#448 Fix import dialog instance not in session
  plugin/teksi_wastewater/interlis/gui/interlis_import_selection_dialog.py
Labels: plugin, fix, INTERLIS

#450 disable modification triggers when updating all symbologies
  datamodel/app/functions/symbology_functions.sql
Labels: app_schema

#430 Allow SSL params for Auth
  plugin/teksi_wastewater/interlis/utils/various.py
  plugin/teksi_wastewater/utils/database_utils.py
Labels: plugin

#467 2024-10-18-testdata-add-correct-arc-sample
  plugin/teksi_wastewater/tests/data/test-dataset-DSS.xtf
Labels: fix

#223 set obj_id sequences when importing
  datamodel/app/create_app.py
  datamodel/app/functions/oid_functions.sql
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
Labels: enhancement, plugin, INTERLIS, review
