Repository teksi/wastewater, pull requests merged in 2024-05, with the labels that each got.

#173 Add default values for fk_provider and fk_dataowner
  datamodel/app/create_app.py
  datamodel/app/view/set_default_value_for_views.sql
  datamodel/app/view/vw_tww_reach.py
  datamodel/changelogs/0001/14_default_values.sql
  datamodel/scripts/setup.sh
  docs/en/user-guide/How-To/index.rst
Labels: enhancement, datamodel

#230 2024 05 04 patch manhole channel distance
  datamodel/changelogs/0001/04_vsa_kek_extension.sql
  datamodel/changelogs/0001/09_tww_dictionaries_kek.sql
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
Labels: datamodel, fix

#217 2024-04-interlis-export-orientation-option
  plugin/teksi_wastewater/interlis/gui/interlis_export_settings_dialog.py
  plugin/teksi_wastewater/interlis/gui/interlis_export_settings_dialog.ui
  plugin/teksi_wastewater/interlis/gui/interlis_importer_exporter_gui.py
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
Labels: enhancement

#235 Mini update to check documentation translation workflow
  docs/en/features-guide/index.rst
Labels: documentation, fix, translation

#236 Add TX pull on push
  .github/workflows/docs-builder.yml
Labels: fix, translation

#166 include overflows in symbology
  datamodel/app/symbology_functions.sql
Labels: enhancement

#238 Fix organisation_functions.sql
  datamodel/app/organisation_functions.sql
Labels: datamodel

#248 Setup databases extensions in first changelog
  datamodel/.docker/init_db.sh
  datamodel/changelogs/0001/00_db_extensions.sql
  datamodel/scripts/setup.sh
Labels: datamodel, CI/CD, fix
