Repository teksi/wastewater, pull requests merged in 2024-11, with the labels that each got.

#484 2024-10-30-fix-loosing-coordinates-interlis-import
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
Labels: fix

#457 add error message to twwnetwork
  plugin/teksi_wastewater/tools/twwnetwork.py
Labels: fix

#496 fix selection filters
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
Labels: plugin, INTERLIS

#491 Update functions and triggers
  datamodel/app/create_app.py
  datamodel/app/functions/geometry_functions.sql
  datamodel/app/functions/modification_functions.sql
  datamodel/app/functions/network_functions.sql
  datamodel/app/functions/symbology_functions.sql
Labels: datamodel, fix, app_schema

#497 correct cable_point.symbolori
  datamodel/changelogs/0001/03_tww_control_cable_db_sia405.sql
Labels: datamodel, fix

#477 2024 10 28 add protection tube control cable
  datamodel/changelogs/0001/03_tww_control_cable_db_sia405.sql
  datamodel/changelogs/0001/03_tww_protection_tube_db_sia405.sql
  datamodel/changelogs/0001/09_tww_protection_tube_dictionaries.sql
  datamodel/changelogs/0001/09_ww_control_cable_dictionaries.sql
  datamodel/scripts/setup.sh
Labels: enhancement, datamodel
