Repository teksi/wastewater, pull requests merged in 2024-12, with the labels that each got.

#502 Fix default values
  datamodel/app/functions/organisation_functions.sql
Labels: app_schema

#351 Fix #312
  datamodel/app/view/vw_tww_reach.py
  datamodel/test/test_geometry.py
Labels: fix

#249 Set audit sql
  datamodel/app/create_app.py
  datamodel/app/functions/organisation_functions.sql
  datamodel/app/functions/symbology_functions.sql
  datamodel/changelogs/0001/90_audit.sql
  datamodel/scripts/setup.sh
Labels: datamodel, fix

#513 2024-12-20-update-readme
  README.md
Labels: enhancement, TEKSI wastewater
