Repository teksi/wastewater, pull requests merged in 2025-09, with the labels that each got.

#739 Fix aggregation data type
  datamodel/app/view/catchment_area/vw_catchment_area_totals_aggregated.sql
Labels: fix

#725 20250820-fix-import-rueckstausicherung
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
Labels: fix, INTERLIS

#762 add relative file paths to damage_channel view
  datamodel/app/view/vw_tww_damage_channel.py
Labels: enhancement, app_schema
