Repository teksi/wastewater, pull requests merged in 2025-08, with the labels that each got.

#700 fix modification framework
  datamodel/app/create_app.py
Labels: bug, fix, app_schema, AG-64/96

#688 add log card view
  datamodel/app/app_modification.template.yaml
  datamodel/app/create_app.py
  datamodel/app/view/vw_tww_log_card.py
Labels: enhancement

#684 Add option to filter out NULL values on import
  plugin/teksi_wastewater/interlis/gui/interlis_import_settings_dialog.py
  plugin/teksi_wastewater/interlis/gui/interlis_import_settings_dialog.ui
  plugin/teksi_wastewater/interlis/gui/interlis_importer_exporter_gui.py
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
  plugin/tww_cmd.py
Labels: enhancement, INTERLIS

#626 20250613_add_identifier_fk_checks_from_qgep
  plugin/teksi_wastewater/interlis/gui/interlis_importer_exporter_gui.py
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
  plugin/teksi_wastewater/tests/test_interlis.py
Labels: enhancement, INTERLIS

#649 2025 07 01 improve maintenance event views
  datamodel/app/app_modification.template.yaml
  datamodel/app/create_app.py
  datamodel/app/sql_functions/network_functions.sql
  datamodel/app/view/maintenance_views.py
  datamodel/app/view/unused_views/working/vw_tww_maint_evnt_on_reach.sql
  datamodel/app/view/unused_views/working/vw_tww_maint_evnt_on_wws.sql
  datamodel/app/view/unused_views/working/vw_tww_maintenance_event_on_reach.sql
  datamodel/app/view/unused_views/working/vw_tww_maintenance_event_on_wws.sql
Labels: enhancement

#735 Fix create_app.py
  datamodel/app/create_app.py
Labels: fix
