Repository teksi/wastewater, pull requests merged in 2025-07, with the labels that each got.

#655 Fix_old_sql_roles_links
  docs/en/installation-guide/database-initialization.rst
Labels: roles

#648 2025-07-01-typo_function_hierarchic
  docs/en/tww_swmm/Check-SWMM-File.rst
Labels: bug, documentation

#650 add organisation export
  plugin/teksi_wastewater/interlis/config.py
  plugin/teksi_wastewater/interlis/gui/interlis_export_settings_dialog.py
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/model_interlis_sia405_abwasser.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/model_interlis_sia405_base_abwasser.py
  plugin/teksi_wastewater/tests/test_interlis.py
  plugin/tww_cmd.py
Labels: enhancement

#614 Add substitute for reach point geometry in network node
  datamodel/app/functions/network_functions.sql
Labels: app_schema

#568 2025-03-26-import-export-interlis-missing-attributes
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
  plugin/teksi_wastewater/tests/data/test-dataset-DSS.xtf
  plugin/teksi_wastewater/tests/test_interlis.py
Labels: fix, INTERLIS, TEKSI wastewater

#673 Upgrade model baker library
  plugin/scripts/package-pip-packages.sh
Labels: INTERLIS

#634 Agxx datamodel changes
  .github/workflows/datamodel-create-dumps.yml
  datamodel/app/modification_repos/tww2ag6496/000_demo.sql
  datamodel/app/modification_repos/tww2ag6496/config.yaml
  datamodel/app/modification_repos/tww2ag6496/extra_definitions/vw_tww_overflow.yaml
  datamodel/app/modification_repos/tww2ag6496/extra_definitions/vw_tww_reach.yaml
  datamodel/app/modification_repos/tww2ag6496/extra_definitions/vw_tww_wastewater_structure.yaml
  datamodel/app/modification_repos/tww2ag6496/extra_definitions/vw_wastewater_structure.yaml
  datamodel/app/modification_repos/tww2ag6496/sql/01_defaults.sql
  datamodel/app/modification_repos/tww2ag6496/sql/02_aux_functions.sql
  datamodel/app/modification_repos/tww2ag6496/sql/03_export_views.sql
  datamodel/app/modification_repos/tww2ag6496/sql/04_functions.sql
  datamodel/app/modification_repos/tww2ag6496/sql/11_ag96_triggerfuncs_node.sql
  datamodel/app/modification_repos/tww2ag6496/sql/12_ag96_triggerfuncs_other.sql
  datamodel/app/modification_repos/tww2ag6496/sql/13_ag96_createtriggers.sql
  datamodel/changelogs/2025.0.2/03_agxx_extensions_vl.sql
  datamodel/changelogs/2025.0.2/04_agxx_symbology_order.sql
  datamodel/changelogs/2025.0.2/05_agxx_export_vl.sql
  datamodel/changelogs/2025.0.2/06_agxx_import_vl.sql
  datamodel/scripts/create-dumps.py
Labels: enhancement, app_schema, AG-64/96, Changelog

#638 AG-xx alterations to plugin
  plugin/teksi_wastewater/gui/twwsettingsdialog.py
  plugin/teksi_wastewater/interlis/config.py
  plugin/teksi_wastewater/interlis/data/Organisationstabelle_AG64.xtf
  plugin/teksi_wastewater/interlis/data/Organisationstabelle_AG96.xtf
  plugin/teksi_wastewater/interlis/data/ag6496-dataset-organisations.xtf
  plugin/teksi_wastewater/interlis/gui/interlis_export_settings_dialog.py
  plugin/teksi_wastewater/interlis/interlis_importer_exporter.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_exporter_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/interlis_importer_to_intermediate_schema.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/model_interlis_ag64.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/model_interlis_ag96.py
  plugin/teksi_wastewater/interlis/interlis_model_mapping/model_tww_ag6496.py
  plugin/teksi_wastewater/interlis/processing_algs/extractlabels_interlis.py
  plugin/teksi_wastewater/tests/data/test-dataset-DSS_AG96.xtf
  plugin/teksi_wastewater/ui/twwsettingsdialog.ui
  plugin/tww_cmd.py
Labels: plugin
